/*============ style global ============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+NO:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s linear;
    color: #fff;
    scroll-behavior: smooth;
}

body{
    background-color: #1a1110;
    font-family: 'Lato', sans-serif;
}

.heading{
    text-transform: capitalize;
}

/*============ style de l'entete et de la barre de navigation ============*/

header{
    position: relative;
    padding: 2em 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo{
    font-size: 2em;
    font-weight: 600;
    display: flex;
    flex: 1;
    color: #fff;
    align-items: center;
    text-transform: capitalize;
}

.logo img{
    width: 70px;
    margin-right: 1%;
}

/*============ barre de navigation ============*/
.navbar{
    width: 100%;
    padding: 2rem 3rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    top: 0;
    position: fixed;
}

.navbar.scrolled{
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.item{
    display: flex;
    justify-content: center;
}

.nav_items li{
    list-style: none;
    padding: 1em;
    text-transform: capitalize;
}

.nav_items li a{
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav_items li::before{
    content: '';
    width: 0;
    height: 2px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav_items li:hover::before{
    width: 100%;
}

.btn{
    padding: 9px 15px;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: orangered;
    cursor: pointer;
    text-transform: capitalize;
    border: 2px solid orangered;
    transition: all 0.5s ease-out;
}

.nav_menu{
    display: none;
}

/*============ zone de texte ============*/
.main{
    width: 80%;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
    text-transform: capitalize;
}

.heading-1{
    font-size: 2.3em;
}

.heading{
    font-size: 3.5em;
    padding: 1.5% 0;
    font-family: "Playwrite CU", cursive;
}

.main_btn{
    display: flex;
}

.btn-1:hover{
    background-color: transparent;
}

.btn-2{
    background-color: transparent;
    margin-left: 1%;
    align-items: center;
    display: flex;
}

.btn-2 i{
    font-size: 2em;
    margin-right: 6px;
    color: orangered;
}

.btn-2:hover{
    background-color: orangered;
}

.btn-2:hover i{
    color: #fff;
}

/*============ style de la zone de services ============*/
.sec{
    padding: 8% 0 3% 0;
    width: 85%;
    margin: auto;
}

.head{
    text-align: center;
    text-transform: capitalize;
}

.heading span{
    color: orangered;
}

.head .heading{
    font-family: 'lato', sans-serif;
}

.head .heading-1{
    font-family: 'Playwite CU', cursive;
    color: aliceblue;
    font-size: 1.4em;
}

.boxes{
    display: grid;
    margin-top: 4rem;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    text-transform: capitalize;
}

.box{
    text-align: center;
    padding: 5% 0;
    box-shadow: rgba(0, 0, 0, 1.35) 0 5px 15px;
    border: 2px solid transparent;
}

.box img{
    width: 150px;
}

.box p{
    max-width: 275px;
    margin-inline: auto;
    text-align: center;
    line-height: 1.75rem;
    color: #888;
}

.box h4{
    margin: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.box:hover{
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

/*============ style de la section a propos ============*/
.about_heading{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 6em;
    align-items: center;
}

.about .heading-1,
.about .heading{
    grid-column: 1;
}

.about .para{
    grid-column: 2;
    text-align: right;
    color: #777;
}

.about_box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin-top: 5%;
}

.para-1{
    color: #888;
    padding-bottom: 5%;
}

.box-1{
    background-color: #ffeedc;
    box-shadow: rgba(0, 0, 0, 2.24) 0 3px 8px;
    border: 5px solid chocolate;
}

.box-1 img{
    width: 100%;
}

.box-1_text{
    padding: 4%;
}

.box-1_text button:hover{
    color: #000;
}

/*============ style de la section contact ============*/
.contact{
    margin-top: 6%;
    width: 100%;
    background-color: #312c2a;
}

.contact_box{
    display: grid;
    width: 85%;
    margin: auto;
    align-items: center;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.left_box .heading-1{
    color: orangered;
    text-transform: capitalize;
}

.right_box{
    text-align: right;
}

.right_box img{
    width: 100%;
}

/*============ style du footer ============*/
.footer_container{
    display: grid;
    grid: 4rem 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.footer_logo img{
    max-width: 40px;
}

.footer_logo span{
    display: flex;
    font-size: 1.8rem;
    font-weight: 800;
}

.footer_col .footer_text{
    max-width: 350px;
    color: #999;
    margin: 2rem 0;
}

.footer_socials{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.footer_socials i{
    font-size: 1.8rem;
    text-decoration: none;
    padding: 3%;
}

.footer_socials i:hover{
    background-color: orangered;
}

.footer_col h4{
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
}

.footer_links{
    display: grid;
    gap: 1rem;
    list-style: none;
}

.footer_links a{
    text-decoration: none;
    text-transform: capitalize;
    color: #999;
}

.footer_links a:hover{
    color: orangered;
}

.footer_bar{
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

/*============ bouton de scroll rapide ============*/
.top{
    background-color: orangered;
    font-size: 40px;
    padding: 0.5rem;
    position: fixed;
    right: 5%;
    border-radius: 10%;
    cursor: pointer;
    bottom: -50%;
}

.top:hover{
    transform: translateY(-.6rem);
}

.top.show{
    bottom: 8%;
}

/*============ adaptation ordinateur, tablette et android ============*/
@media only screen and (max-width: 1050px){
    .about_heading{
        gap: 0 2em;
    }

    .about_box,
    .boxes{
        gap: 1em;
    }

    .box-1_text .btn{
        padding: 9px;
        font-size: 15px;
    }

    .left_box .heading{
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 850px){
    .nav_items{
        position: absolute;
        top: -1%;
        left: 0;
        width: 100%;
        padding: 5em 0 2em 0;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 0.9rem;
        background-color: #000;
        transition: 0.5s;
        z-index: -1;
        transform: translateY(-100%);
    }

    .nav_items.open{
        transform: translateY(0);
    }

    .item{
        flex-direction: column;
    }

    .nav_menu{
        display: block;
        font-size: 2em;
    }

    .boxes,
    .about_box{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact_box{
        grid-template-columns: 1fr;
    }

    .footer_container{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer_col{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 660px){
    .about_heading{
        grid-template-columns: 1fr;
    }

    .about .para{
        grid-column: 1;
    }

    .boxes,
    .about_box{
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_container{
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar{
        padding: 2rem 2rem;
    }

    .heading{
        font-size: 3em;
    }

    .heading-1{
        font-size: 2em;
    }
}

@media only screen and (max-width: 480px){
    .footer_container{
        grid-template-columns: repeat(1, 1fr);
    }   

    .btn{
        padding: 9px;
        font-size: 15px;
    }

    .main{
        width: 90%;
    }
}